Repository heroku/libcnb.rs, pull requests merged in 2022-09, with the labels that each got.

#496 Bump MSRV to 1.60
  CHANGELOG.md
  README.md
  examples/basics/Cargo.toml
  examples/execd/Cargo.toml
  examples/ruby-sample/Cargo.toml
  libcnb-cargo/Cargo.toml
  libcnb-cargo/README.md
  libcnb-data/Cargo.toml
  libcnb-data/README.md
  libcnb-package/Cargo.toml
  libcnb-package/README.md
  libcnb-proc-macros/Cargo.toml
  libcnb-proc-macros/README.md
  libcnb-test/Cargo.toml
  libcnb-test/README.md
  libcnb/Cargo.toml
  test-buildpacks/readonly-layer-files/Cargo.toml
  test-buildpacks/sbom/Cargo.toml
Labels: libcnb-cargo, libcnb-data, examples, libcnb, libcnb-test, breaking change, libcnb-proc-macros, libcnb-package

#497 Fix Clippy errors with Rust 1.65
  examples/ruby-sample/src/layers/bundler.rs
  examples/ruby-sample/src/layers/ruby.rs
  libcnb-test/src/app.rs
  libcnb/src/error.rs
  libcnb/src/layer/handling.rs
  libcnb/src/layer/tests.rs
  libcnb/src/layer_env.rs
Labels: skip changelog, examples, libcnb, libcnb-test

#495 Migrate libherokubuildpack into libcnb.rs
  CHANGELOG.md
  Cargo.toml
  RELEASING.md
  libherokubuildpack/Cargo.toml
  libherokubuildpack/README.md
  libherokubuildpack/src/digest.rs
  libherokubuildpack/src/download.rs
  libherokubuildpack/src/error.rs
  libherokubuildpack/src/fs.rs
  libherokubuildpack/src/lib.rs
  libherokubuildpack/src/log.rs
  libherokubuildpack/src/tar.rs
  libherokubuildpack/src/toml.rs
Labels: enhancement, libherokubuildpack

#500 Use Cargo 1.64 features for workspace metadata
  CHANGELOG.md
  Cargo.toml
  README.md
  RELEASING.md
  examples/basics/Cargo.toml
  examples/execd/Cargo.toml
  examples/ruby-sample/Cargo.toml
  libcnb-cargo/Cargo.toml
  libcnb-cargo/README.md
  libcnb-data/Cargo.toml
  libcnb-data/README.md
  libcnb-package/Cargo.toml
  libcnb-package/README.md
  libcnb-proc-macros/Cargo.toml
  libcnb-proc-macros/README.md
  libcnb-test/Cargo.toml
  libcnb-test/README.md
  libcnb/Cargo.toml
  libherokubuildpack/Cargo.toml
  libherokubuildpack/README.md
  test-buildpacks/readonly-layer-files/Cargo.toml
  test-buildpacks/sbom/Cargo.toml
Labels: libcnb-cargo, libcnb-data, libcnb, libcnb-test, breaking change, libcnb-proc-macros, libcnb-package, libherokubuildpack

#502 `cargo upgrade`
  CHANGELOG.md
  examples/execd/Cargo.toml
  examples/ruby-sample/Cargo.toml
  libcnb-cargo/Cargo.toml
  libcnb-data/Cargo.toml
  libcnb-package/Cargo.toml
  libcnb-proc-macros/Cargo.toml
  libcnb-test/Cargo.toml
  libcnb/Cargo.toml
  libherokubuildpack/Cargo.toml
Labels: libcnb-cargo, libcnb-data, examples, libcnb, libcnb-test, libcnb-proc-macros, libcnb-package, libherokubuildpack

#501 Bump to `0.11.0`
  CHANGELOG.md
  Cargo.toml
Labels: libcnb-cargo, libcnb-data, libcnb, libcnb-test, libcnb-proc-macros, libcnb-package, libherokubuildpack

#503 libherokubuildpack: Use the README for the root module's rustdocs
  CHANGELOG.md
  libherokubuildpack/src/lib.rs
Labels: documentation, libherokubuildpack

#504 Switch libcnb-test Procfile fixture to Docker URL
  libcnb-test/tests/integration_test.rs
Labels: skip changelog, libcnb-test

#506 Fix file includes
  CHANGELOG.md
  libcnb-cargo/Cargo.toml
  libcnb-cargo/LICENSE
  libcnb-data/Cargo.toml
  libcnb-data/LICENSE
  libcnb-package/Cargo.toml
  libcnb-package/LICENSE
  libcnb-proc-macros/Cargo.toml
  libcnb-proc-macros/LICENSE
  libcnb-test/Cargo.toml
  libcnb-test/LICENSE
  libcnb/Cargo.toml
  libcnb/LICENSE
  libherokubuildpack/Cargo.toml
  libherokubuildpack/LICENSE
Labels: libcnb-cargo, libcnb-data, libcnb, libcnb-test, libcnb-proc-macros, libcnb-package, libherokubuildpack

#508 Update RELEASING.md
  RELEASING.md
Labels: skip changelog
