Repository heroku/libcnb.rs, pull requests merged in 2022-12, with the labels that each got.

#537 Fix Clippy errors with Rust 1.66/1.67
  examples/ruby-sample/tests/integration_test.rs
  libcnb-test/src/build.rs
  libcnb/src/buildpack.rs
  libcnb/src/layer/handling.rs
  libcnb/src/layer/tests.rs
  libcnb/src/platform.rs
  libherokubuildpack/src/error.rs
  libherokubuildpack/src/tar.rs
Labels: skip changelog, examples, libcnb, libherokubuildpack

#535 Add `CommandExt` for working with `std::process::Command` output streams
  CHANGELOG.md
  libherokubuildpack/Cargo.toml
  libherokubuildpack/README.md
  libherokubuildpack/src/command.rs
  libherokubuildpack/src/lib.rs
  libherokubuildpack/src/write.rs
Labels: enhancement, libherokubuildpack

#539 Fix typo in the rustdoc for `libcnb_runtime_build`
  libcnb/src/runtime.rs
Labels: skip changelog, libcnb
