Repository heroku/libcnb.rs, pull requests merged in 2022-06, with the labels that each got.

#399 Switch to `heroku/builder:22` in docs and tests
  README.md
  examples/execd/tests/integration_test.rs
  libcnb-test/README.md
  libcnb-test/src/container_context.rs
  libcnb-test/src/lib.rs
Labels: documentation, skip changelog, examples, libcnb-test

#400 Switch to the recommended regional S3 domain
  examples/ruby-sample/buildpack.toml
Labels: skip changelog, examples

#408 cargo update + upgrade
  examples/ruby-sample/Cargo.toml
  libcnb-cargo/Cargo.toml
  libcnb-data/Cargo.toml
  libcnb-package/Cargo.toml
  libcnb-proc-macros/Cargo.toml
  libcnb-test/Cargo.toml
  libcnb/Cargo.toml
Labels: skip changelog, libcnb-cargo, libcnb-data, examples, libcnb, libcnb-test, libcnb-proc-macros, libcnb-package

#409 libcnb-test: Pass `--trust-builder` to `pack build`
  libcnb-test/CHANGELOG.md
  libcnb-test/src/pack.rs
Labels: libcnb-test, faster-tests

#412 Leverage `Into` trait for `String`/`&str` arguments in `ContainerContext`
  libcnb-test/CHANGELOG.md
  libcnb-test/src/container_context.rs
Labels: libcnb-test

#413 Only create `.libcnb-cargo/additional-bin` if there are additional binaries
  libcnb-package/CHANGELOG.md
  libcnb-package/src/lib.rs
Labels: libcnb-package

#416 Replace magic exit code values with constants
  libcnb-cargo/src/exit_code.rs
  libcnb-cargo/src/main.rs
  libcnb/src/exit_code.rs
  libcnb/src/lib.rs
  libcnb/src/runtime.rs
Labels: skip changelog, libcnb-cargo, libcnb

#417 Fix `Buildpack::on_error` rustdoc
  libcnb/src/buildpack.rs
Labels: documentation, skip changelog, libcnb

#418 Add `Launch::processes`
  libcnb-data/CHANGELOG.md
  libcnb-data/src/launch.rs
Labels: documentation, enhancement, libcnb-data

#420 Add changelog entries for recent dependency upgrades
  .github/workflows/check_changelog.yml
  libcnb-data/CHANGELOG.md
  libcnb-proc-macros/CHANGELOG.md
  libcnb-test/CHANGELOG.md
Labels: documentation, libcnb-data, libcnb-test, libcnb-proc-macros

#422 Allow running subsequent integration test builds
  examples/execd/tests/integration_test.rs
  examples/ruby-sample/tests/integration_test.rs
  libcnb-test/CHANGELOG.md
  libcnb-test/README.md
  libcnb-test/src/container_context.rs
  libcnb-test/src/lib.rs
  libcnb-test/src/test_config.rs
  libcnb-test/src/test_runner.rs
  libcnb-test/tests/integration_test.rs
Labels: enhancement, libcnb-test, breaking change

#425 Move TestContext to dedicated module
  libcnb-test/src/lib.rs
  libcnb-test/src/test_context.rs
  libcnb-test/src/test_runner.rs
Labels: skip changelog, libcnb-test

#428 Add .DS_Store to .gitignore
  .gitignore
Labels: skip changelog

#427 Remove unnecessary usages of public structs/functions in examples
  README.md
  examples/basics/src/main.rs
  examples/execd/src/bin/dice_roller.rs
  examples/execd/src/layer.rs
  examples/execd/src/main.rs
  examples/ruby-sample/src/layers/bundler.rs
  examples/ruby-sample/src/layers/mod.rs
  examples/ruby-sample/src/layers/ruby.rs
  examples/ruby-sample/src/main.rs
  examples/ruby-sample/src/util.rs
  libcnb/src/lib.rs
Labels: documentation, skip changelog, examples

#430 Add TestConfig::app_dir
  libcnb-test/CHANGELOG.md
  libcnb-test/src/test_config.rs
Labels: enhancement, libcnb-test

#431 Remove `TestContext::app_dir`, only copy `app_dir` when preprocessor is configured
  libcnb-test/CHANGELOG.md
  libcnb-test/src/app.rs
  libcnb-test/src/test_context.rs
  libcnb-test/src/test_runner.rs
Labels: libcnb-test, breaking change, faster-tests

#432 Prepare releases
  README.md
  libcnb-cargo/CHANGELOG.md
  libcnb-cargo/Cargo.toml
  libcnb-data/CHANGELOG.md
  libcnb-data/Cargo.toml
  libcnb-package/CHANGELOG.md
  libcnb-package/Cargo.toml
  libcnb-proc-macros/CHANGELOG.md
  libcnb-proc-macros/Cargo.toml
  libcnb-test/CHANGELOG.md
  libcnb-test/Cargo.toml
  libcnb/CHANGELOG.md
  libcnb/Cargo.toml
Labels: libcnb-cargo, libcnb-data, libcnb, libcnb-test, libcnb-proc-macros, libcnb-package

#433 Compile README tests as a part of doctest
  libcnb-test/README.md
  libcnb-test/src/lib.rs
Labels: documentation, skip changelog, libcnb-test

#435 Stop using regex to validate `BuildpackVersion`
  libcnb-data/src/buildpack/version.rs
Labels: skip changelog, libcnb-data

#436 Add more tests for `ExecDProgramOutputKey`
  libcnb-data/src/exec_d.rs
Labels: skip changelog, libcnb-data

#439 Disable `fancy-regex` default features
  libcnb-data/CHANGELOG.md
  libcnb-data/Cargo.toml
  libcnb-proc-macros/CHANGELOG.md
  libcnb-proc-macros/Cargo.toml
Labels: libcnb-data, breaking change, libcnb-proc-macros, slim-buildpacks, faster-compiles

#440 Fix rustdocs for `LogOutput`
  libcnb-test/CHANGELOG.md
  libcnb-test/src/lib.rs
  libcnb-test/src/log.rs
Labels: documentation, libcnb-test

#441 Add more docs for libcnb-test
  libcnb-test/README.md
  libcnb-test/src/container_context.rs
  libcnb-test/src/test_config.rs
  libcnb-test/src/test_context.rs
  libcnb-test/src/test_runner.rs
Labels: documentation, skip changelog, libcnb-test
