Repository heroku/libcnb.rs, pull requests merged in 2022-01, with the labels that each got.

#250 Box `ureq::Error` to prevent `large_enum_variant` errors
  examples/example-02-ruby-sample/src/util.rs
Labels: skip changelog, examples

#252 Reject unknown fields when deserializing TOML files
  CHANGELOG.md
  examples/example-02-ruby-sample/src/main.rs
  libcnb-data/src/bom.rs
  libcnb-data/src/buildpack/mod.rs
  libcnb-data/src/buildpack/stack.rs
  libcnb-data/src/buildpack_plan.rs
  libcnb-data/src/launch.rs
  libcnb-data/src/layer_content_metadata.rs
  libcnb-data/src/store.rs
Labels: libcnb-data

#248 Correct the data model for `buildpack.toml`
  CHANGELOG.md
  libcnb-cargo/src/lib.rs
  libcnb-data/src/buildpack/mod.rs
  libcnb/src/build.rs
  libcnb/src/detect.rs
  libcnb/src/layer/test.rs
  libcnb/src/runtime.rs
Labels: bug, libcnb-data

#256 Switch to separate changelogs per crate
  CHANGELOG.md
  libcnb-cargo/CHANGELOG.md
  libcnb-data/CHANGELOG.md
  libcnb-proc-macros/CHANGELOG.md
  libcnb/CHANGELOG.md
Labels: documentation

#258 Implement `Borrow<str>` for types generated using `libcnb_newtype!`
  libcnb-data/CHANGELOG.md
  libcnb-data/src/newtypes.rs
Labels: libcnb-data

#260 Fix broken docs and add docs linting to CI
  .github/workflows/ci.yml
  libcnb-data/src/newtypes.rs
  libcnb/src/buildpack.rs
Labels: documentation, skip changelog

#261 Test buildpack cross-compilation & packaging in CI
  .github/workflows/ci.yml
Labels: skip changelog, libcnb-cargo, examples

#263 Enable caching in CI
  .github/workflows/ci.yml
Labels: skip changelog

#267 Add LayerEnv::apply_to_empty
  examples/example-02-ruby-sample/src/main.rs
  libcnb/CHANGELOG.md
  libcnb/src/layer/handling.rs
  libcnb/src/layer_env.rs
Labels: libcnb

#272 Combine two adjacent `impl BuildResultBuilder` blocks
  libcnb/src/build.rs
Labels: skip changelog, libcnb

#265 ProcessBuilder
  README.md
  examples/example-02-ruby-sample/src/main.rs
  libcnb-data/CHANGELOG.md
  libcnb-data/src/launch.rs
  libcnb/src/build.rs
Labels: libcnb-data

#275 Bump external dependency versions
  examples/example-01-basics/Cargo.toml
  examples/example-02-ruby-sample/Cargo.toml
  libcnb-cargo/CHANGELOG.md
  libcnb-data/CHANGELOG.md
  libcnb-data/Cargo.toml
  libcnb-proc-macros/CHANGELOG.md
  libcnb-proc-macros/Cargo.toml
  libcnb/CHANGELOG.md
  libcnb/Cargo.toml
Labels: libcnb-cargo, libcnb-data, libcnb

#276 Bump crate versions for libcnb 0.5.0 release
  libcnb-cargo/CHANGELOG.md
  libcnb-cargo/Cargo.toml
  libcnb-data/CHANGELOG.md
  libcnb-data/Cargo.toml
  libcnb-proc-macros/CHANGELOG.md
  libcnb-proc-macros/Cargo.toml
  libcnb/CHANGELOG.md
  libcnb/Cargo.toml
Labels: libcnb-cargo, libcnb-data, libcnb

#283 Update buildpack assembly to no longer fail on existing output directories
  libcnb-cargo/CHANGELOG.md
  libcnb-cargo/src/lib.rs
Labels: libcnb-cargo

#284 Prepare libcnb-cargo release 0.2.1
  libcnb-cargo/CHANGELOG.md
  libcnb-cargo/Cargo.toml
Labels: libcnb-cargo

#285 Bump libcnb version in README.md
  README.md
Labels: documentation, skip changelog

#288 Fix Clippy warnings seen with Rust 1.59 beta
  libcnb-cargo/src/lib.rs
  libcnb-data/CHANGELOG.md
  libcnb-data/src/build_plan.rs
  libcnb/CHANGELOG.md
  libcnb/src/build.rs
  libcnb/src/detect.rs
Labels: libcnb-cargo, libcnb-data, breaking change

#292 Fix CI badge in README
  README.md
Labels: documentation, skip changelog

#293 Switch from `rand` to `fastrand` in libcnb layer tests
  libcnb/Cargo.toml
  libcnb/src/layer/test.rs
Labels: skip changelog, libcnb
