Repository heroku/libcnb.rs, pull requests merged in 2022-02, with the labels that each got.

#277 libcnb-test
  .github/workflows/ci.yml
  Cargo.toml
  examples/example-02-ruby-sample/Cargo.toml
  examples/example-02-ruby-sample/test-fixtures/simple-ruby-app/Gemfile
  examples/example-02-ruby-sample/test-fixtures/simple-ruby-app/Gemfile.lock
  examples/example-02-ruby-sample/test-fixtures/simple-ruby-app/app.rb
  examples/example-02-ruby-sample/tests/integration_test.rs
  libcnb-test/CHANGELOG.md
  libcnb-test/Cargo.toml
  libcnb-test/README.md
  libcnb-test/src/app.rs
  libcnb-test/src/build.rs
  libcnb-test/src/container_context.rs
  libcnb-test/src/container_port_mapping.rs
  libcnb-test/src/lib.rs
  libcnb-test/src/pack.rs
  libcnb-test/src/util.rs
  libcnb-test/tests/integration_test.rs
Labels: libcnb-test

#305 Support connecting to Docker daemon on a remote machine
  libcnb-test/CHANGELOG.md
  libcnb-test/Cargo.toml
  libcnb-test/src/lib.rs
Labels: libcnb-test

#308 Prepare libcnb-test 0.1.1 release
  libcnb-test/CHANGELOG.md
Labels: libcnb-test

#310 Fix link to `examples` directory in README.md
  README.md
Labels: documentation, skip changelog

#312 Update cross-compile assistance for Apple silicon
  libcnb-cargo/CHANGELOG.md
  libcnb-cargo/src/cross_compile.rs
Labels: libcnb-cargo

#316 Skip integration tests when using `cargo test`
  .github/workflows/ci.yml
  examples/example-02-ruby-sample/tests/integration_test.rs
  libcnb-test/tests/integration_test.rs
Labels: skip changelog, examples, libcnb-test

#315 Enable `clippy::pedantic` in examples and integration tests
  examples/example-01-basics/src/main.rs
  examples/example-02-ruby-sample/Cargo.toml
  examples/example-02-ruby-sample/src/layers/bundler.rs
  examples/example-02-ruby-sample/src/main.rs
  examples/example-02-ruby-sample/tests/integration_test.rs
  libcnb-test/tests/integration_test.rs
Labels: skip changelog, examples, libcnb-test

#314 Package all binary targets
  libcnb-cargo/CHANGELOG.md
  libcnb-cargo/src/build.rs
  libcnb-cargo/src/config.rs
  libcnb-cargo/src/lib.rs
  libcnb-cargo/src/main.rs
  libcnb-test/CHANGELOG.md
  libcnb-test/Cargo.toml
  libcnb-test/src/build.rs
Labels: libcnb-cargo, libcnb-test, breaking change

#320 Add `additional_buildpack_binary_path` macro
  libcnb-proc-macros/CHANGELOG.md
  libcnb-proc-macros/Cargo.toml
  libcnb-proc-macros/src/lib.rs
  libcnb/CHANGELOG.md
  libcnb/Cargo.toml
  libcnb/src/internals.rs
  libcnb/src/lib.rs
Labels: libcnb

#321 Update additional_buildpack_binary_path docs
  libcnb/src/lib.rs
Labels: documentation, skip changelog, libcnb

#323 Remove numbering of examples
  .github/workflows/ci.yml
  Cargo.toml
  examples/basics/Cargo.toml
  examples/basics/buildpack.toml
  examples/basics/src/main.rs
  examples/ruby-sample/Cargo.toml
  examples/ruby-sample/buildpack.toml
  examples/ruby-sample/src/layers/bundler.rs
  examples/ruby-sample/src/layers/mod.rs
  examples/ruby-sample/src/layers/ruby.rs
  examples/ruby-sample/src/main.rs
  examples/ruby-sample/src/util.rs
  examples/ruby-sample/test-fixtures/simple-ruby-app/Gemfile
  examples/ruby-sample/test-fixtures/simple-ruby-app/Gemfile.lock
  examples/ruby-sample/test-fixtures/simple-ruby-app/app.rb
  examples/ruby-sample/tests/integration_test.rs
Labels: skip changelog, examples

#324 Add exec.d related types
  libcnb-data/CHANGELOG.md
  libcnb-data/src/exec_d.rs
  libcnb-data/src/lib.rs
  libcnb-data/src/newtypes.rs
Labels: libcnb-data

#318 Make use of implicitly named `format!` args
  README.md
  examples/basics/Cargo.toml
  examples/ruby-sample/Cargo.toml
  libcnb-cargo/CHANGELOG.md
  libcnb-cargo/Cargo.toml
  libcnb-cargo/src/main.rs
  libcnb-data/CHANGELOG.md
  libcnb-data/Cargo.toml
  libcnb-proc-macros/CHANGELOG.md
  libcnb-proc-macros/Cargo.toml
  libcnb-test/CHANGELOG.md
  libcnb-test/Cargo.toml
  libcnb-test/src/container_context.rs
  libcnb-test/src/container_port_mapping.rs
  libcnb-test/src/lib.rs
  libcnb/CHANGELOG.md
  libcnb/Cargo.toml
  libcnb/src/layer/handling.rs
  libcnb/src/layer/test.rs
  libcnb/src/runtime.rs
Labels: libcnb-cargo, libcnb-data, examples, libcnb, libcnb-test, breaking change

#334 Move changelog entry for #318 to the correct release
  libcnb-proc-macros/CHANGELOG.md
Labels: documentation, libcnb-proc-macros

#333 Fix GitHub compare URLs in changelog
  libcnb/CHANGELOG.md
Labels: documentation, libcnb

#331 Prevent unnecessary runtime validation for newtype generated macros
  libcnb-data/CHANGELOG.md
  libcnb-data/src/newtypes.rs
Labels: libcnb-data

#329 Upgrade to Clap v3
  libcnb-cargo/CHANGELOG.md
  libcnb-cargo/Cargo.toml
  libcnb-cargo/src/cli.rs
  libcnb-cargo/src/main.rs
Labels: libcnb-cargo

#339 Remove import grouping
  examples/ruby-sample/src/layers/bundler.rs
  examples/ruby-sample/src/layers/ruby.rs
  examples/ruby-sample/src/main.rs
  libcnb-data/src/buildpack/api.rs
  libcnb-data/src/buildpack/mod.rs
  libcnb-data/src/buildpack/stack.rs
  libcnb-data/src/buildpack/version.rs
  libcnb-test/src/lib.rs
  libcnb/src/build.rs
  libcnb/src/detect.rs
  libcnb/src/generic.rs
  libcnb/src/layer/handling.rs
  libcnb/src/layer_env.rs
  libcnb/src/lib.rs
  libcnb/src/runtime.rs
Labels: skip changelog, libcnb-data, examples, libcnb, libcnb-test

#322 Add `assert_contains!` macro
  examples/ruby-sample/tests/integration_test.rs
  libcnb-test/CHANGELOG.md
  libcnb-test/README.md
  libcnb-test/src/lib.rs
  libcnb-test/src/macros.rs
Labels: examples, libcnb-test

#326 Implement exec.d support
  Cargo.toml
  examples/execd/Cargo.toml
  examples/execd/buildpack.toml
  examples/execd/src/bin/dice_roller.rs
  examples/execd/src/layer.rs
  examples/execd/src/main.rs
  examples/execd/test-fixtures/empty-app/.gitkeep
  examples/execd/tests/integration_test.rs
  libcnb/CHANGELOG.md
  libcnb/src/exec_d.rs
  libcnb/src/layer/handling.rs
  libcnb/src/layer/public_interface.rs
  libcnb/src/lib.rs
Labels: examples, libcnb

#342 Consistently use `tests` as the module name for tests (again)
  examples/execd/src/bin/dice_roller.rs
  libcnb-test/src/app.rs
  libcnb-test/src/container_port_mapping.rs
  libcnb-test/src/macros.rs
  libcnb-test/src/pack.rs
  libcnb/src/layer/mod.rs
  libcnb/src/layer/tests.rs
Labels: skip changelog, examples, libcnb, libcnb-test

#344 Set `publish = false` and `version = "0.0.0"` in `Cargo.toml` of examples
  examples/basics/Cargo.toml
  examples/execd/Cargo.toml
  examples/ruby-sample/Cargo.toml
Labels: skip changelog, examples

#345 Bump minimum dependency versions
  examples/ruby-sample/Cargo.toml
  libcnb-cargo/Cargo.toml
  libcnb-data/Cargo.toml
  libcnb-proc-macros/Cargo.toml
  libcnb-test/Cargo.toml
  libcnb/Cargo.toml
Labels: skip changelog, libcnb-cargo, libcnb-data, examples, libcnb, libcnb-test, libcnb-proc-macros

#347 Fail tests early if cross-compilation toolchains are missing
  libcnb-test/CHANGELOG.md
  libcnb-test/src/build.rs
Labels: libcnb-test

#356 Derive `Default` instead of implementing manually
  libcnb-data/src/build_plan.rs
  libcnb-data/src/launch.rs
  libcnb/src/build.rs
  libcnb/src/env.rs
  libcnb/src/layer_env.rs
Labels: skip changelog, libcnb-data, libcnb

#361 Prepare `0.6.0` release
  README.md
  libcnb-cargo/CHANGELOG.md
  libcnb-cargo/Cargo.toml
  libcnb-data/CHANGELOG.md
  libcnb-data/Cargo.toml
  libcnb-proc-macros/CHANGELOG.md
  libcnb-proc-macros/Cargo.toml
  libcnb-test/CHANGELOG.md
  libcnb-test/Cargo.toml
  libcnb/CHANGELOG.md
  libcnb/Cargo.toml
Labels: libcnb-cargo, libcnb-data, libcnb, libcnb-test, libcnb-proc-macros
