Repository heroku/libcnb.rs, pull requests merged in 2022-03, with the labels that each got.

#346 Allow setting environment variables in integration tests
  examples/execd/tests/integration_test.rs
  examples/ruby-sample/test-fixtures/simple-ruby-app/app.rb
  examples/ruby-sample/tests/integration_test.rs
  libcnb-test/CHANGELOG.md
  libcnb-test/README.md
  libcnb-test/src/container_context.rs
  libcnb-test/src/lib.rs
  libcnb-test/src/pack.rs
Labels: libcnb-test, breaking change

#367 Update README.md
  libcnb-test/README.md
Labels: documentation, skip changelog, libcnb-test

#362 Extract `libcnb-cargo`'s library to a new `libcnb-package` crate
  Cargo.toml
  libcnb-cargo/CHANGELOG.md
  libcnb-cargo/Cargo.toml
  libcnb-cargo/src/main.rs
  libcnb-package/CHANGELOG.md
  libcnb-package/Cargo.toml
  libcnb-package/README.md
  libcnb-package/src/build.rs
  libcnb-package/src/config.rs
  libcnb-package/src/cross_compile.rs
  libcnb-package/src/lib.rs
  libcnb-test/CHANGELOG.md
  libcnb-test/Cargo.toml
  libcnb-test/src/build.rs
Labels: libcnb-cargo, libcnb-test, breaking change, faster-compiles

#369 Centralize arg handling, writing to stderr and process exit in `libcnb_runtime`
  libcnb/src/runtime.rs
Labels: skip changelog, libcnb

#373 Use `--pull-policy if-not-present` when running `pack build`
  .github/workflows/ci.yml
  libcnb-test/CHANGELOG.md
  libcnb-test/src/lib.rs
  libcnb-test/src/pack.rs
Labels: libcnb-test, breaking change, faster-tests

#375 Make `libcnb_runtime_build` etc public
  libcnb/CHANGELOG.md
  libcnb/src/lib.rs
  libcnb/src/runtime.rs
Labels: libcnb

#377 Fix changelog after PR #366
  libcnb-test/CHANGELOG.md
Labels: libcnb-test

#380 Prepare to move repository to the Heroku org
  CODE_OF_CONDUCT.md
  SECURITY.md
Labels: skip changelog

#382 BuildPlan Metadata Support
  libcnb-data/CHANGELOG.md
  libcnb-data/src/build_plan.rs
  libcnb-data/src/buildpack_plan.rs
Labels: libcnb-data

#385 Only create layer `env` directories if env vars are being written
  libcnb/CHANGELOG.md
  libcnb/src/layer_env.rs
Labels: enhancement, libcnb

#387 Add explicit error for missing exec.d paths
  libcnb/CHANGELOG.md
  libcnb/src/layer/handling.rs
Labels: libcnb, breaking change
