Repository heroku/libcnb.rs, pull requests merged in 2023-08, with the labels that each got.

#621 libcnb-test: Migrate from Bollard to Docker CLI
  CHANGELOG.md
  libcnb-test/Cargo.toml
  libcnb-test/src/container_config.rs
  libcnb-test/src/container_context.rs
  libcnb-test/src/container_port_mapping.rs
  libcnb-test/src/docker.rs
  libcnb-test/src/lib.rs
  libcnb-test/src/log.rs
  libcnb-test/src/test_context.rs
  libcnb-test/src/test_runner.rs
  libcnb-test/tests/integration_test.rs
Labels: bug, enhancement, libcnb-test, breaking change

#623 Reduce Dependabot frequency to monthly
  .github/dependabot.yml
Labels: skip changelog

#625 libcnb-test: Fix image cleanup when a pack build unexpectedly succeeds
  CHANGELOG.md
  libcnb-test/src/test_runner.rs
Labels: bug, libcnb-test

#627 libcnb-test: Prevent integration tests from hanging when offline
  libcnb-test/tests/integration_test.rs
Labels: skip changelog, libcnb-test

#635 libcnb-test: Implement `fmt::Display` for `LogOutput`
  CHANGELOG.md
  libcnb-test/src/log.rs
  libcnb-test/src/test_runner.rs
  libcnb-test/src/util.rs
Labels: enhancement, libcnb-test

#636 libcnb-test: Improve error messages for `address_for_port`
  CHANGELOG.md
  libcnb-test/src/container_config.rs
  libcnb-test/src/container_context.rs
  libcnb-test/src/test_context.rs
  libcnb-test/tests/integration_test.rs
Labels: enhancement, libcnb-test

#637 Refactor libcnb-cargo integration tests
  libcnb-cargo/Cargo.toml
  libcnb-cargo/src/main.rs
  libcnb-cargo/tests/test.rs
Labels: skip changelog, libcnb-cargo

#583 Move packaged buildpack directory out of `target/`
  .github/workflows/ci.yml
  .gitignore
  CHANGELOG.md
  libcnb-cargo/src/cli.rs
  libcnb-cargo/src/package/command.rs
  libcnb-cargo/src/package/error.rs
  libcnb-cargo/tests/test.rs
  libcnb-package/src/lib.rs
Labels: libcnb-cargo, breaking change, libcnb-package

#641 Run `cargo upgrade` as part of preparing libcnb releases
  RELEASING.md
Labels: skip changelog

#640 Update Quick Start Guide
  README.md
Labels: documentation, skip changelog

#643 Add version links in the changelog
  CHANGELOG.md
  RELEASING.md
Labels: documentation

#645 Rename libcnb-cargo integration test file
  libcnb-cargo/tests/integration_test.rs
Labels: skip changelog, libcnb-test

#644 Pin intra-libcnb* crate dependencies to exact versions
  Cargo.toml
Labels: skip changelog, libcnb-cargo, libcnb-data, libcnb, libcnb-test, libcnb-proc-macros, libcnb-package, libherokubuildpack

#648 libcnb-test: Rename test to match new function name
  libcnb-package/src/lib.rs
Labels: skip changelog, libcnb-test

#629 Add `find_cargo_workspace` utility method
  CHANGELOG.md
  libcnb-cargo/src/package/command.rs
  libcnb-cargo/src/package/error.rs
  libcnb-package/src/lib.rs
Labels: enhancement, libcnb-cargo, libcnb-package

#631 Consistent error enum style
  CHANGELOG.md
  libcnb-cargo/src/package/error.rs
  libcnb-package/src/lib.rs
Labels: libcnb-cargo, breaking change, libcnb-package

#632 Improved output directory helpers
  CHANGELOG.md
  libcnb-cargo/src/package/command.rs
  libcnb-cargo/src/package/error.rs
  libcnb-cargo/tests/integration_test.rs
  libcnb-package/src/buildpack_dependency.rs
  libcnb-package/src/lib.rs
  libcnb-package/src/output.rs
Labels: enhancement, libcnb-cargo, breaking change, libcnb-package

#652 First pass refactoring `libcnb-cargo`/`libcnb-package` error handling
  CHANGELOG.md
  libcnb-cargo/src/package/command.rs
  libcnb-cargo/src/package/error.rs
  libcnb-cargo/src/package/mod.rs
  libcnb-package/Cargo.toml
  libcnb-package/src/build.rs
  libcnb-package/src/buildpack_dependency.rs
  libcnb-package/src/buildpack_package.rs
  libcnb-package/src/config.rs
  libcnb-package/src/dependency_graph.rs
  libcnb-package/src/lib.rs
Labels: libcnb-cargo, breaking change, libcnb-package

#654 Refactor Cargo binary target related functions
  CHANGELOG.md
  libcnb-package/src/build.rs
  libcnb-package/src/cargo.rs
  libcnb-package/src/config.rs
  libcnb-package/src/lib.rs
  libcnb-test/tests/integration_test.rs
Labels: breaking change, libcnb-package

#656 Rename `Buildpackage` to `PackageDescriptor`
  CHANGELOG.md
  libcnb-cargo/src/package/command.rs
  libcnb-cargo/src/package/error.rs
  libcnb-cargo/tests/integration_test.rs
  libcnb-data/src/lib.rs
  libcnb-data/src/package_descriptor.rs
  libcnb-package/src/buildpack_dependency.rs
  libcnb-package/src/buildpack_package.rs
  libcnb-package/src/lib.rs
Labels: libcnb-cargo, libcnb-data, breaking change, libcnb-package

#659 Add `libcnb-common`, move `toml_file` to it
  Cargo.toml
  RELEASING.md
  libcnb-common/Cargo.toml
  libcnb-common/LICENSE
  libcnb-common/README.md
  libcnb-common/src/lib.rs
  libcnb-common/src/toml_file.rs
  libcnb/Cargo.toml
  libcnb/src/error.rs
  libcnb/src/lib.rs
  libcnb/src/runtime.rs
Labels: skip changelog, libcnb-common

#653 Improve dependency graph related errors
  CHANGELOG.md
  libcnb-package/src/dependency_graph.rs
Labels: libcnb-package

#657 Refactor `libcnb-cargo`
  CHANGELOG.md
  libcnb-cargo/Cargo.toml
  libcnb-cargo/src/main.rs
  libcnb-cargo/src/package/command.rs
  libcnb-cargo/src/package/error.rs
  libcnb-cargo/src/package/mod.rs
  libcnb-cargo/tests/integration_test.rs
  libcnb-data/src/package_descriptor.rs
  libcnb-package/Cargo.toml
  libcnb-package/src/buildpack_dependency.rs
  libcnb-package/src/buildpack_dependency_graph.rs
  libcnb-package/src/buildpack_kind.rs
  libcnb-package/src/buildpack_package.rs
  libcnb-package/src/lib.rs
  libcnb-package/src/package.rs
  libcnb-package/src/package_descriptor.rs
  libcnb-package/src/util.rs
Labels: libcnb-cargo, breaking change, libcnb-package

#665 Remove unused code
  libcnb-cargo/Cargo.toml
  libcnb-cargo/src/main.rs
  libcnb-cargo/tests/integration_test.rs
  libcnb-package/src/lib.rs
Labels: skip changelog, libcnb-package
