Repository heroku/libcnb.rs, pull requests merged in 2023-09, with the labels that each got.

#667 Include README.md in lib.rs
  libcnb-common/src/lib.rs
Labels: skip changelog, libcnb-common

#672 Fix lint errors with Rust 1.73
  libcnb-cargo/tests/integration_test.rs
Labels: skip changelog, libcnb-cargo

#674 Add CLI usage help output to libcnb-cargo README
  libcnb-cargo/README.md
Labels: documentation, skip changelog, libcnb-cargo

#675 Update example `cargo libcnb package` log output in READMEs
  README.md
  libcnb-cargo/README.md
Labels: documentation, skip changelog, libcnb-cargo

#676 Apply rustfmt to README example
  README.md
Labels: documentation, skip changelog

#673 Ignore file support when finding buildpacks
  CHANGELOG.md
  libcnb-cargo/src/package/command.rs
  libcnb-cargo/tests/integration_test.rs
  libcnb-package/Cargo.toml
  libcnb-package/src/buildpack_dependency_graph.rs
  libcnb-package/src/lib.rs
Labels: libcnb-cargo, libcnb-package

#666 Support local buildpacks and meta-buildpacks in libcnb-test
  .gitignore
  CHANGELOG.md
  libcnb-test/Cargo.toml
  libcnb-test/README.md
  libcnb-test/src/build.rs
  libcnb-test/src/build_config.rs
  libcnb-test/src/lib.rs
  libcnb-test/src/test_runner.rs
  libcnb-test/test-fixtures/buildpacks/libcnb-test-a/Cargo.toml
  libcnb-test/test-fixtures/buildpacks/libcnb-test-a/buildpack.toml
  libcnb-test/test-fixtures/buildpacks/libcnb-test-a/src/main.rs
  libcnb-test/test-fixtures/buildpacks/libcnb-test-b/Cargo.toml
  libcnb-test/test-fixtures/buildpacks/libcnb-test-b/buildpack.toml
  libcnb-test/test-fixtures/buildpacks/libcnb-test-b/src/main.rs
  libcnb-test/test-fixtures/buildpacks/libcnb-test-meta/buildpack.toml
  libcnb-test/test-fixtures/buildpacks/libcnb-test-meta/package.toml
  libcnb-test/tests/integration_test.rs
Labels: enhancement, libcnb-test

#677 Update changelog and rustdocs for `BuildpackReference` changes
  CHANGELOG.md
  libcnb-test/src/build_config.rs
Labels: documentation, libcnb-test

#679 Fix lint errors with Rust 1.73 (again)
  libcnb-test/tests/integration_test.rs
Labels: skip changelog, libcnb-test

#680 Remove unnecessary usages of the `vec!` macro
  examples/ruby-sample/src/main.rs
  examples/ruby-sample/tests/integration_test.rs
  libcnb-cargo/src/package/command.rs
  libcnb-data/src/build_plan.rs
  libcnb-data/src/buildpack/mod.rs
  libcnb-data/src/launch.rs
  libcnb-data/src/newtypes.rs
  libcnb-data/src/package_descriptor.rs
  libcnb-package/src/buildpack_dependency_graph.rs
  libcnb-package/src/cross_compile.rs
  libcnb-package/src/dependency_graph.rs
  libcnb-test/README.md
  libcnb-test/src/build_config.rs
  libcnb-test/src/container_config.rs
  libcnb-test/src/docker.rs
  libcnb-test/src/pack.rs
  libcnb-test/tests/integration_test.rs
  libcnb/src/layer/public_interface.rs
  libcnb/src/layer/tests.rs
  libcnb/src/layer_env.rs
  libcnb/src/sbom.rs
  libherokubuildpack/src/command.rs
  libherokubuildpack/src/toml.rs
  libherokubuildpack/src/write.rs
Labels: skip changelog, libcnb-cargo, libcnb-data, examples, libcnb, libcnb-test, libcnb-package, libherokubuildpack

#682 Switch to the new "component" vs "composite" buildpack terminology
  CHANGELOG.md
  libcnb-cargo/tests/fixtures/multiple_buildpacks/composite-buildpacks/composite-one/buildpack.toml
  libcnb-cargo/tests/fixtures/multiple_buildpacks/composite-buildpacks/composite-one/package.toml
  libcnb-cargo/tests/integration_test.rs
  libcnb-data/src/buildpack/mod.rs
  libcnb-data/src/package_descriptor.rs
  libcnb-package/src/buildpack_dependency_graph.rs
  libcnb-package/src/buildpack_kind.rs
  libcnb-package/src/package.rs
  libcnb-test/README.md
  libcnb-test/tests/fixtures/buildpacks/libcnb-test-composite/buildpack.toml
  libcnb-test/tests/fixtures/buildpacks/libcnb-test-composite/package.toml
  libcnb-test/tests/integration_test.rs
  libcnb/src/build.rs
  libcnb/src/detect.rs
  libcnb/src/layer/tests.rs
Labels: libcnb-cargo, libcnb-data, libcnb, libcnb-test, breaking change, libcnb-package

#684 Update changelog for `Buildpackage*` types rename
  CHANGELOG.md
Labels: documentation, libcnb-data

#670 Derive Copy and Clone for LayerTypes
  CHANGELOG.md
  libcnb-data/src/layer_content_metadata.rs
Labels: libcnb-data

#689 Add a GitHub Actions workflow for preparing a libcnb.rs release
  .github/workflows/prepare-release.yml
  RELEASING.md
Labels: skip changelog

#691 Add a GitHub Actions workflow for publishing a release
  .github/workflows/release.yml
  RELEASING.md
Labels: skip changelog

#693 Switch tests from `heroku/buildpacks:20` to `heroku/builder:20`
  examples/ruby-sample/tests/integration_test.rs
Labels: skip changelog, examples
