Repository heroku/libcnb.rs, pull requests merged in 2023-01, with the labels that each got.

#541 Remove support for skipping check-changelog using the PR description
  .github/workflows/check_changelog.yml
Labels: skip changelog

#543 Expose `store.toml` contents in `BuildContext`
  CHANGELOG.md
  Cargo.toml
  libcnb/src/build.rs
  libcnb/src/error.rs
  libcnb/src/layer/tests.rs
  libcnb/src/runtime.rs
  libcnb/src/util.rs
  test-buildpacks/store/Cargo.toml
  test-buildpacks/store/buildpack.toml
  test-buildpacks/store/src/main.rs
  test-buildpacks/store/tests/integration_test.rs
Labels: enhancement, libcnb

#546 Prepare 0.11.3 release
  CHANGELOG.md
  Cargo.toml
Labels: libcnb

#548 Prepare v0.11.4
  CHANGELOG.md
  Cargo.toml
Labels: libcnb-data
