Repository heroku/libcnb.rs, pull requests merged in 2024-01, with the labels that each got.

#757 Fix CI failures on `main`
  Cargo.toml
  examples/ruby-sample/Cargo.toml
  examples/ruby-sample/buildpack.toml
  examples/ruby-sample/src/layers/bundler.rs
  examples/ruby-sample/src/layers/mod.rs
  examples/ruby-sample/src/layers/ruby.rs
  examples/ruby-sample/src/main.rs
  examples/ruby-sample/src/util.rs
  examples/ruby-sample/tests/fixtures/simple-ruby-app/Gemfile
  examples/ruby-sample/tests/fixtures/simple-ruby-app/Gemfile.lock
  examples/ruby-sample/tests/fixtures/simple-ruby-app/app.rb
  examples/ruby-sample/tests/integration_test.rs
  libcnb-test/src/test_runner.rs
  libcnb/src/layer_env.rs
Labels: skip changelog, examples, libcnb, libcnb-test

#759 Simplify Cargo.toml for crates that are not published
  Cargo.toml
  examples/basics/Cargo.toml
  examples/execd/Cargo.toml
  libcnb-cargo/tests/fixtures/multiple_buildpacks/Cargo.toml
  libcnb-cargo/tests/fixtures/multiple_buildpacks/buildpacks/one/Cargo.toml
  libcnb-cargo/tests/fixtures/multiple_buildpacks/buildpacks/two/Cargo.toml
  libcnb-cargo/tests/fixtures/no_buildpacks/Cargo.toml
  libcnb-cargo/tests/fixtures/no_buildpacks/not_a_buildpack/Cargo.toml
  libcnb-cargo/tests/fixtures/single_buildpack/Cargo.toml
  libcnb-test/tests/fixtures/buildpacks/compile-error/Cargo.toml
  libcnb-test/tests/fixtures/buildpacks/component-a/Cargo.toml
  libcnb-test/tests/fixtures/buildpacks/component-b/Cargo.toml
  test-buildpacks/readonly-layer-files/Cargo.toml
  test-buildpacks/sbom/Cargo.toml
  test-buildpacks/store/Cargo.toml
  test-buildpacks/tracing/Cargo.toml
Labels: skip changelog

#760 [Stacked PR] Remove warn_later from output
  libherokubuildpack/src/output/background.rs
  libherokubuildpack/src/output/background_timer.rs
  libherokubuildpack/src/output/build_log.rs
  libherokubuildpack/src/output/interface.rs
  libherokubuildpack/src/output/mod.rs
  libherokubuildpack/src/output/section_log.rs
  libherokubuildpack/src/output/warn_later.rs
Labels: skip changelog

#669 Change Layer interface from &self to &mut self
  CHANGELOG.md
  examples/execd/src/layer.rs
  libcnb/src/build.rs
  libcnb/src/layer/handling.rs
  libcnb/src/layer/public_interface.rs
  libcnb/src/layer/tests.rs
  test-buildpacks/readonly-layer-files/src/layer.rs
  test-buildpacks/sbom/src/test_layer.rs
  test-buildpacks/sbom/src/test_layer_2.rs
Labels: libcnb, breaking change

#765 Add `MappedWrite::unwrap`
  CHANGELOG.md
  libherokubuildpack/src/write.rs
Labels: enhancement, libherokubuildpack

#766 Fix compile warnings when `trace` feature is disabled
  libcnb/src/runtime.rs
Labels: skip changelog, libcnb
