Repository heroku/libcnb.rs, pull requests merged in 2024-08, with the labels that each got.

#853 Fix clippy warnings with newer Rust
  Cargo.toml
  libcnb-package/src/package.rs
Labels: skip changelog

#855 libcnb-test: Use `--trust-extra-buildpacks` with `pack build`
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
  libcnb-cargo/README.md
  libcnb-cargo/src/package/command.rs
  libcnb-test/README.md
  libcnb-test/src/pack.rs
  libcnb-test/tests/integration_test.rs
Labels: libcnb-test, breaking change

#858 Fix doc comment typo
  libcnb-data/src/launch.rs
Labels: documentation, skip changelog, libcnb-data
