Repository heroku/libcnb.rs, pull requests merged in 2024-06, with the labels that each got.

#831 Serialize process working directory as working-dir
  CHANGELOG.md
  libcnb-data/src/launch.rs
Labels: bug, libcnb-data

#832 Replace '**' with '`' in libherokubuildpack README
  libherokubuildpack/README.md
Labels: skip changelog, libherokubuildpack

#814 Struct Layer API
  CHANGELOG.md
  examples/execd/src/main.rs
  libcnb/src/build.rs
  libcnb/src/error.rs
  libcnb/src/layer/mod.rs
  libcnb/src/layer/shared.rs
  libcnb/src/layer/struct_api/handling.rs
  libcnb/src/layer/struct_api/mod.rs
  libcnb/src/layer/trait_api/handling.rs
  libcnb/src/layer/trait_api/mod.rs
  libcnb/src/layer/trait_api/tests.rs
  test-buildpacks/readonly-layer-files/src/main.rs
  test-buildpacks/sbom/src/main.rs
Labels: enhancement, libcnb, breaking change

#833 Migrate examples and test buildpacks to struct layer API
  examples/execd/src/layer.rs
  examples/execd/src/main.rs
  test-buildpacks/readonly-layer-files/src/layer.rs
  test-buildpacks/readonly-layer-files/src/main.rs
  test-buildpacks/sbom/src/main.rs
  test-buildpacks/sbom/src/test_layer.rs
  test-buildpacks/sbom/src/test_layer_2.rs
  test-buildpacks/sbom/tests/integration_test.rs
Labels: skip changelog, examples, libcnb
