Repository heroku/libcnb.rs, pull requests merged in 2024-10, with the labels that each got.

#864 [stacked] Add docs to inventory code
  libherokubuildpack/src/inventory.rs
  libherokubuildpack/src/inventory/artifact.rs
  libherokubuildpack/src/inventory/version.rs
Labels: skip changelog

#861 Migrate inventory code
  CHANGELOG.md
  libherokubuildpack/Cargo.toml
  libherokubuildpack/src/inventory.rs
  libherokubuildpack/src/inventory/artifact.rs
  libherokubuildpack/src/inventory/checksum.rs
  libherokubuildpack/src/inventory/semver.rs
  libherokubuildpack/src/inventory/sha2.rs
  libherokubuildpack/src/inventory/unit.rs
  libherokubuildpack/src/inventory/version.rs
  libherokubuildpack/src/lib.rs
Labels: enhancement, libherokubuildpack

#868 Document inventory features in README
  libherokubuildpack/README.md
Labels: documentation, skip changelog, libherokubuildpack

#871 Add integration test support for Docker bind mounts
  CHANGELOG.md
  libcnb-test/src/container_config.rs
  libcnb-test/src/docker.rs
  libcnb-test/src/test_context.rs
Labels: enhancement, libcnb-test

#668 Switch back to the example alpine builder in CI
  .github/workflows/ci.yml
Labels: skip changelog
