Repository heroku/libcnb.rs, pull requests merged in 2024-02, with the labels that each got.

#771 Use `--force-color` with `pack build` invocations in CI
  .github/workflows/ci.yml
Labels: skip changelog

#769 Refactor cross compile assistance
  CHANGELOG.md
  libcnb-package/Cargo.toml
  libcnb-package/src/cross_compile.rs
Labels: bug, enhancement, libcnb-package

#774 Use `inspect_err` for tracing errors
  CHANGELOG.md
  Cargo.toml
  README.md
  libcnb-cargo/README.md
  libcnb-common/README.md
  libcnb-data/README.md
  libcnb-package/README.md
  libcnb-proc-macros/README.md
  libcnb-test/README.md
  libcnb/src/runtime.rs
  libherokubuildpack/README.md
Labels: libcnb

#775 Use `heroku/builder:22` in `example-basics` integration test
  .github/workflows/ci.yml
Labels: skip changelog

#773 Move to buildpack API `0.10`
  CHANGELOG.md
  README.md
  examples/basics/buildpack.toml
  examples/basics/src/main.rs
  examples/execd/buildpack.toml
  libcnb-cargo/tests/fixtures/multiple_buildpacks/buildpacks/not_libcnb/buildpack.toml
  libcnb-cargo/tests/fixtures/multiple_buildpacks/buildpacks/one/buildpack.toml
  libcnb-cargo/tests/fixtures/multiple_buildpacks/buildpacks/two/buildpack.toml
  libcnb-cargo/tests/fixtures/single_buildpack/buildpack.toml
  libcnb-data/src/buildpack/mod.rs
  libcnb-data/src/buildpack/stack.rs
  libcnb-data/src/buildpack/stack_id.rs
  libcnb-data/src/buildpack/target.rs
  libcnb-test/tests/fixtures/buildpacks/compile-error/buildpack.toml
  libcnb-test/tests/fixtures/buildpacks/component-a/buildpack.toml
  libcnb-test/tests/fixtures/buildpacks/component-b/buildpack.toml
  libcnb-test/tests/fixtures/buildpacks/invalid-cargo-toml/buildpack.toml
  libcnb/src/build.rs
  libcnb/src/buildpack.rs
  libcnb/src/detect.rs
  libcnb/src/error.rs
  libcnb/src/layer/tests.rs
  libcnb/src/lib.rs
  libcnb/src/runtime.rs
  libcnb/src/target.rs
  test-buildpacks/readonly-layer-files/buildpack.toml
  test-buildpacks/sbom/buildpack.toml
  test-buildpacks/store/buildpack.toml
  test-buildpacks/tracing/buildpack.toml
  test-buildpacks/tracing/tests/fixtures/buildpacks/tracing-reader/buildpack.toml
Labels: libcnb-data, examples, libcnb, breaking change

#778 libcnb: Simplify layer tests
  libcnb/Cargo.toml
  libcnb/src/layer/tests.rs
Labels: skip changelog, libcnb

#780 Replace `MappedWrite`'s magic u8 constant with byte string literal
  libherokubuildpack/src/write.rs
Labels: skip changelog, libherokubuildpack

#721 Add `BuildpackOutput`
  CHANGELOG.md
  README.md
  libherokubuildpack/Cargo.toml
  libherokubuildpack/README.md
  libherokubuildpack/src/buildpack_output/ansi_escape.rs
  libherokubuildpack/src/buildpack_output/duration_format.rs
  libherokubuildpack/src/buildpack_output/mod.rs
  libherokubuildpack/src/buildpack_output/style.rs
  libherokubuildpack/src/buildpack_output/util.rs
  libherokubuildpack/src/lib.rs
Labels: enhancement, libherokubuildpack

#783 Add missing `derive(Debug)` for `buildpack_output::state::Stream`
  libherokubuildpack/src/buildpack_output/mod.rs
Labels: skip changelog, libherokubuildpack

#782 Fix docs typo in `build_output`
  libherokubuildpack/src/buildpack_output/mod.rs
Labels: documentation, skip changelog, libherokubuildpack

#789 Reintroduce Stack, with weak validation
  CHANGELOG.md
  libcnb-data/src/buildpack/mod.rs
  libcnb-data/src/buildpack/stack.rs
  libcnb/src/layer/tests.rs
Labels: libcnb-data

#797 Group OpenTelemetry Dependabot updates
  .github/dependabot.yml
Labels: skip changelog

#801 Fix `starting_containers` test after release of Procfile CNB v3.0.0
  libcnb-test/tests/fixtures/procfile/Procfile
  libcnb-test/tests/integration_test.rs
Labels: skip changelog, libcnb-test
