Repository heroku/libcnb.rs, pull requests merged in 2024-03, with the labels that each got.

#786 Refactor low-level layer operations
  CHANGELOG.md
  libcnb/src/layer/handling.rs
Labels: enhancement, libcnb, breaking change

#804 Update Procfile CNB GitHub repo URL
  libcnb-test/tests/integration_test.rs
Labels: skip changelog

#809 Use Procfile CNB from its new Docker Hub repo
  libcnb-test/tests/fixtures/buildpacks/composite/buildpack.toml
  libcnb-test/tests/fixtures/buildpacks/composite/package.toml
Labels: skip changelog

#812 Fix lint errors with Rust 1.77
  libcnb/src/layer/tests.rs
  test-buildpacks/readonly-layer-files/src/layer.rs
  test-buildpacks/readonly-layer-files/src/main.rs
  test-buildpacks/sbom/src/main.rs
  test-buildpacks/store/src/main.rs
Labels: skip changelog, libcnb

#811 Correct `ContextTarget` references to distro image label names
  CHANGELOG.md
  libcnb/src/target.rs
Labels: documentation, libcnb
