Repository heroku/libcnb.rs, pull requests merged in 2025-02, with the labels that each got.

#908 Update test assertions to match new procfile output
  libcnb-test/tests/fixtures/buildpacks/composite/buildpack.toml
  libcnb-test/tests/integration_test.rs
Labels: skip changelog, libcnb-test

#907 Update to opentelemetry 0.24
  libcnb/Cargo.toml
  libcnb/src/tracing.rs
Labels: skip changelog, libcnb

#913 Update to Rust 2024 edition
  CHANGELOG.md
  Cargo.toml
  examples/basics/src/main.rs
  examples/execd/src/main.rs
  examples/execd/tests/integration_test.rs
  libcnb-cargo/src/package/command.rs
  libcnb-cargo/tests/integration_test.rs
  libcnb-common/src/toml_file.rs
  libcnb-data/src/build_plan.rs
  libcnb-data/src/buildpack/api.rs
  libcnb-data/src/buildpack/version.rs
  libcnb-data/src/launch.rs
  libcnb-data/src/newtypes.rs
  libcnb-package/src/build.rs
  libcnb-package/src/buildpack_dependency_graph.rs
  libcnb-package/src/dependency_graph.rs
  libcnb-package/src/output.rs
  libcnb-package/src/package.rs
  libcnb-proc-macros/src/lib.rs
  libcnb-test/src/app.rs
  libcnb-test/src/build.rs
  libcnb-test/src/container_context.rs
  libcnb-test/src/pack.rs
  libcnb-test/src/test_context.rs
  libcnb-test/src/test_runner.rs
  libcnb-test/tests/integration_test.rs
  libcnb/src/build.rs
  libcnb/src/buildpack.rs
  libcnb/src/detect.rs
  libcnb/src/error.rs
  libcnb/src/generic.rs
  libcnb/src/layer/shared.rs
  libcnb/src/layer/struct_api/handling.rs
  libcnb/src/layer/struct_api/mod.rs
  libcnb/src/layer/trait_api/handling.rs
  libcnb/src/layer/trait_api/mod.rs
  libcnb/src/layer/trait_api/tests.rs
  libcnb/src/layer_env.rs
  libcnb/src/runtime.rs
  libcnb/src/tracing.rs
  libherokubuildpack/src/inventory.rs
  libherokubuildpack/src/inventory/checksum.rs
  test-buildpacks/readonly-layer-files/src/main.rs
  test-buildpacks/sbom/src/main.rs
  test-buildpacks/sbom/tests/integration_test.rs
  test-buildpacks/store/src/main.rs
  test-buildpacks/store/tests/integration_test.rs
  test-buildpacks/tracing/src/main.rs
  test-buildpacks/tracing/tests/integration_test.rs
Labels: libcnb-cargo, libcnb-data, libcnb, libcnb-test, breaking change, libcnb-proc-macros, libcnb-package, libherokubuildpack, libcnb-common

#915 Update workspace resolver version to 3
  Cargo.toml
Labels: skip changelog

#916 Export TraceData wrapped ResourceSpans
  libcnb/src/tracing.rs
Labels: skip changelog, libcnb

#919 Update ureq
  libcnb-test/Cargo.toml
  libcnb-test/README.md
  libcnb-test/tests/integration_test.rs
  libherokubuildpack/Cargo.toml
  libherokubuildpack/src/download.rs
Labels: dependencies, rust, skip changelog
