Repository heroku/libcnb.rs, pull requests merged in 2025-03, with the labels that each got.

#918 Use `tracing` library to generate spans
  CHANGELOG.md
  libcnb/Cargo.toml
  libcnb/src/runtime.rs
  libcnb/src/tracing.rs
  test-buildpacks/tracing/tests/integration_test.rs
Labels: enhancement, libcnb

#924 Reduce scopes granted to `GITHUB_TOKEN` in GitHub Actions workflows
  .github/workflows/prepare-release.yml
  .github/workflows/release.yml
Labels: skip changelog

#923 Pin SHA of third-party GitHub Actions
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/prepare-release.yml
  .github/workflows/release.yml
Labels: skip changelog

#925 Use `--locked` with Cargo where possible
  .github/workflows/prepare-release.yml
  .github/workflows/release.yml
  CHANGELOG.md
  libcnb-package/src/build.rs
Labels: libcnb-package

#926 Ensure tracing export data is newline-separated
  CHANGELOG.md
  libcnb/src/tracing.rs
Labels: bug, libcnb
